<html>
    <header>
        <title>G&K Store - Início</title>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
        <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <script src="../static/scripts/script.js"> </script>

    </header>

    <body>
        <nav class="nav1">
            <img src="static/img/shoes3.png" alt="" class="shoes-pic">

            <ul class="submenu1">
                <li><a href="#">Contato</a></li>
                <li><a href="#">Sobre nós</a></li>  
            </ul>
        </nav>

        <div class="bg-image">
            <div class="logo"></div>
                <button type="button" class="btn-principal" onclick="redirectCatalog()" >CATÁLOGO</button>
                <button type="button" class="btn-editar-catalogo" onclick="redirectEditCatalog()">EDITAR CATÁLOGO</button>
        </div>

        <footer class="foot">
            RECEBER NOVIDADES POR EMAIL: 
            <input type="text" class="email-input" placeholder="">
            <button type="button" class="btn-receber-novidades" onclick="" >ENVIAR</button>
        </footer>

        </div>
    </body>
</html>